/*
 * Estilos de tu proyecto
 */
 .menu-fijo{
 	background-color: red;
 	width: 100%;
 	height: 46px;
 	position: fixed;
 }
 .li-menufijo{
 		float: left;
	display: block;
	color: #EDE9E2;
	padding: 14px 16px;
 }